includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    paths:
        - LaravelStrictCodingStandard
        - tests
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    scanFiles:
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
    excludes_analyse:
        - */tests/*/data/*
    ignoreErrors:
#       force Laravel to add Kernel::bootstrap to interface
        -
            message: '#Call to an undefined method Illuminate\\Contracts\\Console\\Kernel::bootstrap\(\)#'
            path: LaravelStrictCodingStandard/Sniffs/Laravel/DisallowUseOfFacadesSniff.php
