parameters:
    level: max
    paths:
        - LaravelStrictCodingStandard
        - tests
    includes:
        - vendor/phpstan/phpstan-strict-rules/rules.neon
        - vendor/phpstan/phpstan-phpunit/extension.neon
        - vendor/phpstan/phpstan-phpunit/rules.neon
    autoload_files:
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
        - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
    excludes_analyse:
        - */tests/*/data/*
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Console\\Kernel::bootstrap\(\)#'
        - '#Access to an undefined property PHP_CodeSniffer\\Config::\$basepath#'