<?xml version="1.0"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutTodoAnnotatedTests="true"
        cacheResult="true"
        cacheResultFile=".phpunit.result.cache"
        stopOnDefect="true"
        executionOrder="defects"
>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">LaravelStrictCodingStandard</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="LaravelStrictCodingStandard Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>